<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Total: {{ShoppingListTotal | number : '.2-2'}} lei
    </ion-title>

    <ion-buttons slot="end">
      <ion-buttons slot="end">  
        
        <ion-button (click)="newList()" title="New List">
          <ion-icon name="newspaper-outline"></ion-icon> 
        </ion-button>

        <ion-button (click)="syncList()" title="Sync Prices">
          <ion-icon name="sync-outline"></ion-icon>
        </ion-button>

        <ion-button (click)="pushList()" title="Push List">
          <ion-icon name="arrow-up-circle-outline"></ion-icon>
        </ion-button>

        <ion-button (click)="popList()" title="Pop List">
          <ion-icon name="arrow-down-circle-outline"></ion-icon>
        </ion-button>

      </ion-buttons>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-item-sliding *ngFor="let item of shoppingList?.items" [hidden]="!(!item.checked || showSelected)">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="remove(item)"><ion-icon name="trash-bin-outline"></ion-icon></ion-item-option>
      </ion-item-options>
  
      <ion-item>
        <ion-label>{{item?.product?.name}} <span *ngIf="item?.product?.lastPrice">{{item?.product?.lastPrice}} lei </span> <br/><small>{{item?.product?.category?.name}}</small></ion-label>
        <ion-button color="primary" fill="clear" size="default" strong="true" (click)="buyPopup(item?.product)"><ion-icon name="cart-outline"></ion-icon></ion-button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>

  <ion-toolbar>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>

</ion-footer>