<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title>Edit product</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" placeholder="name" [(ngModel)]="item.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Category</ion-label>
    <ion-select *ngIf="categories && categories.length>0" [(ngModel)]="item.category_id">
      <ion-select-option *ngFor="let categ of categories" [value]="categ.id">{{categ.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" size="large" (click)="submit()">
    <ion-icon name="cart-outline"></ion-icon> Edit
  </ion-button>
</ion-content>