<ion-header [translucent]="true">

    <ion-toolbar>
        <ion-title>{{product.name}}</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

    <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input type="number" placeholder="Price" [(ngModel)]="product.lastPrice"></ion-input>
    </ion-item>
    <ion-select *ngIf="stores && stores.length>0" (ionChange)="updateCurrentStore($event)" [(ngModel)]="selectedStore">
        <ion-select-option *ngFor="let store of stores" [value]="store.id">{{store.name}}</ion-select-option>
    </ion-select>

    <ion-button expand="full" size="large" (click)="buy()">
        <ion-icon name="cart-outline"></ion-icon> Buy
    </ion-button>
</ion-content>