<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Statistics</ion-title>
    <ion-buttons slot="end">

      <ion-button (click)="DoFilter()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-radio-group [(ngModel)]="statisticsRequest.GrouppingType" (ionChange)="DoFilter()">
    <ion-row>
      <ion-col>

        <ion-item>
          <ion-label>Monthly</ion-label>
          <ion-radio value="month"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>

        <ion-item>
          <ion-label>Daily</ion-label>
          <ion-radio value="day"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>

  <ngx-charts-bar-vertical (select)="chartClick($event)" *ngIf="chartType == ChartTypes.Bar" [results]="series"
    [legend]="true" legendPosition="below" [view]="[cart_width, cart_height]"></ngx-charts-bar-vertical>


  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          Min Price:
        </div>
      </ion-col>

      <ion-col>
        <div class="ion-text-center">
          Avg Price:
        </div>
      </ion-col>

      <ion-col>
        <div class="ion-text-center">
          Max Price:
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col class="ion-justify-content-center">
        <div class="ion-text-center">
          <ion-badge color="primary">
            {{last7DaysMinPrice | number : '1.2-2'}} Lei
          </ion-badge>
        </div>
      </ion-col>

      <ion-col class="ion-justify-content-center">
        <div class="ion-text-center">
          <ion-badge color="warning">
            {{last7DaysAvgPrice | number : '1.2-2'}} Lei
          </ion-badge>
        </div>
      </ion-col>

      <ion-col class="ion-justify-content-center">
        <div class="ion-text-center">
          <ion-badge color="danger">
            {{last7DaysMaxPrice | number : '1.2-2'}} Lei
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer>

  <ion-label color="danger" *ngIf="errorObj && errorObj.GlobalMessage">
    <p class="ion-padding-horizontal ion-text-center">
      {{errorObj.GlobalMessage}}
    </p>
  </ion-label>

</ion-footer>