<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Statistics</ion-title>
    <ion-buttons slot="end">

      <ion-button (click)="DoFilter()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Statistics</ion-title>
      <ion-buttons slot="end">

        <ion-button (click)="DoFilter()">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-radio-group [(ngModel)]="statisticsRequest.GrouppingType" (ionChange)="DoFilter()">
    <ion-row>
      <ion-col>

        <ion-item>
          <ion-label>Monthly</ion-label>
          <ion-radio value="month"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>

        <ion-item>
          <ion-label>Daily</ion-label>
          <ion-radio value="day"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>

  <ngx-charts-pie-chart (select)="chartClick($event)" *ngIf="chartType == ChartTypes.Pie" [results]="series"
    [legend]="true" legendPosition="below" [view]="[cart_width, cart_height]"></ngx-charts-pie-chart>

  <ngx-charts-bar-vertical (select)="chartClick($event)" *ngIf="chartType == ChartTypes.Bar" [results]="series"
    [legend]="true" legendPosition="below" [view]="[cart_width, cart_height]"></ngx-charts-bar-vertical>

</ion-content>

<ion-footer>

  <ion-label color="danger" *ngIf="errorObj && errorObj.GlobalMessage">
    <p class="ion-padding-horizontal ion-text-center">
      {{errorObj.GlobalMessage}}
    </p>
  </ion-label>

</ion-footer>